DB_HOST=casestudy
DB_PORT=3310
DB_NAME=inventory_db
DB_USER=root
DB_PASS=radeon2024

PUSHER_APP_ID="2150493"
PUSHER_KEY="50a863481d77cba51d70"
PUSHER_SECRET="6718c19d520bdb440f09"
PUSHER_CLUSTER= "ap1"